*,
body,
html {
  padding: 0;
  margin: 0%;
}
:root {
  --ease-in: cubic-bezier(0.32, 0, 0.67, 0);
  --ease-out: cubic-bezier(0.33, 1, 0.68, 1);
}
body {
  background: linear-gradient(45deg, goldenrod, rebeccapurple);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

svg {
  width: 0;
  height: 0;
}
.egg-wrapper {
  max-width: 100vw;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
}

/* X-Axis */
.slot1 {
  will-change: transform;
  grid-column: 1;
  grid-row: 1;
  z-index: 10;
  transform: scale(0.85) translate3d(85%, -10%, 0);
}

/* Y-Axis */
.slot1::after {
  will-change: transform;
  display: block;
  content: url(/assets/egg1.svg);
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* X-Axis */
.slot2 {
  will-change: transform;
  grid-column: 2;
  grid-row: 1;
  z-index: 10;
  /* animation: 2s var(--ease-in) two2threeXAxis forwards infinite alternate; */
}

/* .moveTwoToThreeXAxis {
  animation: 2s var(--ease-in) two2threeXAxis forwards infinite alternate;
} */

/* Y-Axis */
.slot2::after {
  will-change: transform;
  display: block;
  content: url(/assets/egg2.svg);
  width: 100%;
  height: 100%;
  z-index: 10;
  /* animation: 2s var(--ease-out) two2threeYAxis forwards infinite alternate; */
}

/* .moveTwoToThreeYAxis {
  animation: 2s var(--ease-out) two2threeYAxis forwards infinite alternate;
} */

/* X-Axis */
.slot3 {
  will-change: transform;
  grid-column: 3;
  grid-row: 1;
  z-index: 10;
  /* transform: scale(0.85) translate3d(85%, -10%, 0); */
  /* animation: 2s var(--ease-in) three2oneXAxis forwards infinite alternate; */
}

/* .moveThreeToOneXAxis {
  animation: 2s var(--ease-in) one2twoYAxis forwards infinite alternate;
} */

/* Y-Axis */
.slot3::after {
  will-change: transform;
  display: block;
  content: url(/assets/egg3.svg);
  width: 100%;
  height: 100%;
  z-index: 10;
  /* animation: 2s var(--ease-out) three2oneYAxis forwards infinite alternate; */
}

/* .moveThreeToOneYAxis {
  animation: 2s var(--ease-out) three2oneYAxis forwards infinite alternate;
} */

.btn-group {
  display: flex;
  gap: 40px;
  padding: 50px;
}

@keyframes one2twoXAxis {
  0% {
  }
  100% {
    z-index: 100;
    transform: translateX(100%);
  }
}
@keyframes one2twoYAxis {
  0% {
  }
  100% {
    z-index: 100;
    transform: translateY(0%);
  }
}
@keyframes two2three {
  0% {
    z-index: 100;
    transform: scale(1) translate3d(0, 0, 0);
  }
  100% {
    z-index: 10;
    transform: scale(0.85) translate3d(45.5%, -10%, 0);
  }
}
@keyframes three2one {
  0% {
    z-index: 10;
    transform: scale(0.85) translate3d(-85%, -10%, 0);
  }
  100% {
    z-index: 10;
    transform: scale(0.85) translate3d(-176.5%, -10%, 0);
  }
}
