*,
body,
html {
  padding: 0;
  margin: 0%;
}

body {
  background: linear-gradient(45deg, goldenrod, rebeccapurple);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-group {
  display: flex;
  gap: 40px;
  padding: 50px;
}

/* Plate Implementation */

.container {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
}

.wrap {
  width: 200px;
  height: 200px;
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 4px solid brown;
  border-radius: 50%;
  margin: auto;
  transform-style: preserve-3d;
  transform: rotateX(70deg);
}

.plate {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  /* animation: plateThreeThirdTurn 3s linear forwards; */
}
.electron {
  position: absolute;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  background: transparent;
  border: none;
  transform: rotateX(-90deg);
  transform-style: preserve-3d;
  z-index: 100;
  /* animation: itemThreeThirdTurn 3s linear forwards; */
}

.electron1 {
  left: 50%;
  bottom: 0;
}

.electron2 {
  left: 5%;
  bottom: 66%;
}

.electron3 {
  right: 5%;
  bottom: 66%;
}

.item {
  position: absolute;
  --size: 200px;
  width: var(--size);
  height: var(--size);
  bottom: calc(var(--size) * -0.2);
  right: calc(var(--size) * -0.5);
}

/* One Third Left Turn */
@keyframes plateOneThirdLeftTurn {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 120deg);
  }
}

@keyframes itemOneThirdLeftTurn {
  0% {
    transform: rotateX(-90deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-90deg) rotateY(0.33turn);
  }
}

/* Two Third Turn */
@keyframes plateTwoThirdLeftTurn {
  from {
    transform: rotate3d(0, 0, 1, 120deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 240deg);
  }
}

@keyframes itemTwoThirdLeftTurn {
  0% {
    transform: rotateX(-90deg) rotateY(0.33turn);
  }
  100% {
    transform: rotateX(-90deg) rotateY(0.66turn);
  }
}
/* Three Third Turn */
@keyframes plateThreeThirdLeftTurn {
  from {
    transform: rotate3d(0, 0, 1, 240deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes itemThreeThirdLeftTurn {
  0% {
    transform: rotateX(-90deg) rotateY(0.66turn);
  }

  100% {
    transform: rotateX(-90deg) rotateY(1turn);
  }
}

/* One Third Right Turn */
@keyframes plateOneThirdRightTurn {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    transform: rotate3d(0, 0, 1, -120deg);
  }
}

@keyframes itemOneThirdRightTurn {
  0% {
    transform: rotateX(-90deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-90deg) rotateY(-0.33turn);
  }
}

/* Two Third Turn */
@keyframes plateTwoThirdRightTurn {
  from {
    transform: rotate3d(0, 0, 1, -120deg);
  }
  to {
    transform: rotate3d(0, 0, 1, -240deg);
  }
}

@keyframes itemTwoThirdRightTurn {
  0% {
    transform: rotateX(-90deg) rotateY(-0.33turn);
  }
  100% {
    transform: rotateX(-90deg) rotateY(-0.66turn);
  }
}
/* Three Third Turn */
@keyframes plateThreeThirdRightTurn {
  from {
    transform: rotate3d(0, 0, 1, -240deg);
  }
  to {
    transform: rotate3d(0, 0, 1, -360deg);
  }
}

@keyframes itemThreeThirdRightTurn {
  0% {
    transform: rotateX(-90deg) rotateY(-0.66turn);
  }

  100% {
    transform: rotateX(-90deg) rotateY(-1turn);
  }
}

/* FULL TURN */
@keyframes plateFullTurn {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes itemFullTurn {
  0% {
    transform: rotateX(-90deg) rotateY(0deg);
  }
  25% {
    transform: rotateX(-90deg) rotateY(0.25turn);
  }
  50% {
    transform: rotateX(-90deg) rotateY(0.5turn);
  }
  75% {
    transform: rotateX(-90deg) rotateY(0.75turn);
  }
  100% {
    transform: rotateX(-90deg) rotateY(1turn);
  }
}
