*,
body,
html {
  padding: 0;
  margin: 0%;
}

body {
  background: linear-gradient(45deg, goldenrod, rebeccapurple);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

svg {
  width: 0;
  height: 0;
}
.egg-wrapper {
  max-width: 100vw;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
}

.slot-one {
  will-change: transform;
  grid-column: 1;
  grid-row: 1;
  width: 90%;
  height: auto;
  z-index: 10;
  transform: scale(0.85) translate3d(85%, -10%, 0);
}

.slot-two {
  will-change: transform;
  grid-column: 2;
  grid-row: 1;
  width: 90%;
  height: auto;
  z-index: 100;
}

.slot-three {
  will-change: transform;
  grid-column: 3;
  grid-row: 1;
  width: 90%;
  height: auto;
  z-index: 10;
  transform: scale(0.85) translate3d(-85%, -10%, 0);
}

.btn-group {
  display: flex;
  gap: 40px;
  padding: 50px;
}

/* To The Right */

@keyframes one2two {
  0% {
    z-index: 10;
  }

  100% {
    z-index: 100;
    transform: scale(1) translate3d(111%, 0%, 0);
  }
}

@keyframes two2three {
  0% {
    z-index: 100;
  }

  100% {
    z-index: 10;
    transform: scale(0.85) translate3d(45.5%, -10%, 0);
  }
}

@keyframes three2one {
  0% {
    z-index: 10;
  }

  100% {
    z-index: 10;
    transform: scale(0.85) translate3d(-176.5%, -10%, 0);
  }
}

/* To The Left */

@keyframes two2one {
  0% {
    z-index: 10;
  }

  100% {
    z-index: 100;
    transform: scale(0.85) translate3d(-45.5%, -10%, 0);
  }
}

@keyframes three2two {
  0% {
    z-index: 100;
  }

  100% {
    z-index: 10;
    transform: scale(1) translate3d(-111%, 0%, 0);
  }
}

@keyframes one2three {
  0% {
    z-index: 10;
  }

  100% {
    z-index: 10;
    transform: scale(0.85) translate3d(176.5%, -10%, 0);
  }
}

/* Plate Implementation */

.container {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
}

.wrap {
  width: 450px;
  height: 450px;
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 4px solid brown;
  border-radius: 50%;
  margin: auto;
  transform-style: preserve-3d;
  transform: rotateX(70deg);
}

.wrap-electron {
  border: 0px solid #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: electron 5s linear infinite;
}

.electron {
  position: absolute;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: white;
  left: calc(50% - 8px);
  border: none;
  bottom: -7px;
  transform-origin: 50% 50%;
  transform: rotateX(-70deg);
  z-index: 100;
}

.egg1 {
  position: relative;
  width: 200px;
  height: 200px;
  right: 92px;
  top: -150px;
  animation: egg 5s linear infinite;
}

@keyframes electron {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
